<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript" src="https://unpkg.com/vue@next"></script>
</head>
	
<body>
	<h1>購物車(客戶)</h1>
	<hr/>
	<div id="main">
		<div id="list" v-if="UI=='main'">
			<h1>商品清單</h1>
			<button @click="setCheckUI()">查看購物車內容</button><br/>
			<table border=1>
				<tr><td> 商品名稱 </td><td> 商品單價 </td><td> 文字說明 </td><td>-</td></tr>
				<tr v-for="good in dat1">
					<td>&nbsp;{{good.goodName}}</td>
					<td>&nbsp;$ {{good.goodPrice}}</td>
					<td>&nbsp;{{good.goodContent}}</td>
					<td><button @click="addGood_cart(good.goodID,good.goodName)">加入一個至購物車</button></td>
				</tr>
			</table>
		</div>

		<div v-if="UI=='checkCart'">
			<table border=1>
				<tr><td> 商品名稱 </td><td> 商品單價 </td><td> 購物車內數量 </td><td>-</td></tr>
				<tr v-for="shop in dat2">
					<td>&nbsp;{{shop.goodName}}</td>
					<td>&nbsp;$ {{shop.goodPrice}}</td>
					<td>&nbsp;{{shop.goodNum}}</td>
					<td><button @click="addGood_cart_2(shop.goodID,shop.goodName)">再加一個至購物車</button><button @click="delGood_cart(shop.goodID,shop.goodName)">從購物車移除一個</button></td>
				</tr>
			</table>
			<h3>總共價格: $ {{total}} 元</h3>
			<input type='button' @click="back()" value="返回">&nbsp;
			<input type='button' @click="checkOut()" value="結帳">
		</div>
	</div>

	<script>
	const todoApp= Vue.createApp({
		data() {
			return {
				UI: 'main',
				dat1: [],
				dat2:[],
				total:'',
				newShop:{
					dataID: -1,
					client: '',
					goodID: '',
					goodNum: ''
				}
			}
		},
		methods: {
			back:function(){ // 返回首頁
				const that=this;
				that.setUI('main');
				that.loadList();
			},
			checkOut:function(){ // 結帳
				const that=this; 
				alert("總共需支付"+ that.total +"元!");
			},
			TotalPrice:function(){ // 計算購物車內總共價格
				const that=this; 
				fetch('../control.php?act=get_total')
				.then(function(response) {
					return response.json();
				})
				.then(function(myJson) {
					that.total = myJson;
				});
			},
			loadList: function () { // 載入商品清單
				const that=this; 
				fetch('../control.php?act=GoodsList')
				.then(function(response) {
					return response.json();
				})
				.then(function(myJson) {
					that.dat1 = myJson;
				});
			},
			delGood_cart:function(id,name){ // 從購物車中刪除一個商品
				const that=this;
				let url="../control.php?act=delGood_cart&id="+id;
				fetch(url,{
					method: 'POST'
				})
				.then(function(res){return res.text(); }) //取得傳回值，轉為文字
				.then(function(data){
					console.log(data);
					alert("成功從購物車中移除一個"+name+"！");
					that.setCheckUI();
				})
			},
            addGood_cart:function(id,name){ // 加入一個商品至購物車中(首頁版)
				const that=this;
				let url="../control.php?act=addGood_cart&id="+id;
				fetch(url,{
					method: 'POST'
				})
				.then(function(res){return res.text(); }) //取得傳回值，轉為文字
				.then(function(data){
					console.log(data);
					alert("成功加入一個"+name+"進入購物車中！");
					that.loadList();
				})
			},
			addGood_cart_2:function(id,name){ // 加入一個商品至購物車中(購物車版)
				const that=this;
				let url="../control.php?act=addGood_cart&id="+id;
				fetch(url,{
					method: 'POST'
				})
				.then(function(res){return res.text(); }) //取得傳回值，轉為文字
				.then(function(data){
					console.log(data);
					alert("成功加入一個"+name+"進入購物車中！");
					that.setCheckUI();
				})
			},
			setCheckUI: function(good) { // 切換到確認購物車內容物
				const that = this;
				// 使用 fetch 載入購物車列表
				fetch('../control.php?act=CartList')
				.then(function(response) {
					return response.json();
				})
				.then(function(cartJson) {
					that.dat2 = cartJson;
					// 設定 UI 為 'checkCart'
					that.TotalPrice();
					that.setUI('checkCart');
				});
			},
			setUI: function(page) {
				this.UI=page;
			}
				
		},
		created() {
			this.loadList();
		}
	}).mount("#main");
	</script>
	</body></html>