<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript" src="https://unpkg.com/vue@next"></script>
</head>
	
<body>
	<h1>購物車(商家)</h1>
	<hr/>
	<div id="main">
		<div id="list" v-if="UI=='main'">
			<h1>商品清單</h1>
			<button @click="setAddUI()">新增商品</button><br/>
			<table border=1>
				<tr><td> 商品序號 </td><td> 商品名稱 </td><td> 商品單價 </td><td> 文字說明 </td><td>-</td></tr>
				<tr v-for="good in dat">
					<td>&nbsp;{{good.goodID}}</td>
					<td>&nbsp;{{good.goodName}}</td>
					<td>&nbsp;$ {{good.goodPrice}}</td>
					<td>&nbsp;{{good.goodContent}}</td>
					<td><button @click="delGood(good.goodID)">刪除商品</button> <button @click="setEditUI(good)">更改商品資訊</button></td>
				</tr>
			</table>
		</div>

		<div v-if="UI=='editForm'">
			商品名稱: <input type="text"  v-model="newGood.goodName"/><br/>
			商品單價: <input type="text"  v-model="newGood.goodPrice"/><br/>
			商品說明: <textarea v-model="newGood.goodContent"></textarea><br/><br/>
			<input type='button' @click="back()" value="返回">&nbsp;
			<input type='button' @click="addGood()" value="儲存">
		</div>
	</div>

	<script>
	const todoApp= Vue.createApp({
		data() {
			return {
				UI: 'main',
				dat: [],
				newGood: {
					goodID: -1,
					goodName: '',
					goodPrice: '',
					goodContent: ''
				}
			}
		},
		methods: {
			back:function(){ // 返回首頁
				const that=this;
				that.setUI('main');
				that.loadList();
			},
			loadList: function () { // 載入商品清單
				const that=this; 
				fetch('../control.php?act=GoodsList')
				.then(function(response) {
					return response.json();
				})
				.then(function(myJson) {
					that.dat = myJson;
				});
			},
			delGood: function (id) { // 刪除某項商品
				const that=this;
				const confirmed = window.confirm('確定要刪除商品嗎？'); // 提示視窗
				if (confirmed){
					let url="../control.php?act=delGood&id="+id;
					fetch(url,{
						method: 'POST'
					})
					.then(function(res){return res.text(); }) //取得傳回值，轉為文字
					.then(function(data){
						console.log(data);
						that.loadList();
					})
				};
			},
			addGood: function () { // 新增/更新商品
				const that=this;
				let mydat = new FormData();
				mydat.append( "dat", JSON.stringify(this.newGood) );
	
				let url="../control.php?act=addGood";
				fetch(url,{
					method: 'POST',
					body: mydat // 將表單物件放入fetch的body屬性
				})
				.then(function(res){return res.text(); }) //取得傳回值，轉為文字
				.then(function(data){ 
					console.log(data);
					alert("新增/更新商品成功！");
					that.setUI('main');
					that.loadList();
				})
			},
			setEditUI: function(good) {
				this.newGood=good;
				this.setUI('editForm');
			},
			setAddUI: function() {
				this.newGood={
					goodID: -1,
					goodName: '',
					goodPrice: '',
					goodContent: ''
				}
				this.setUI('editForm');
			},
			setUI: function(page) {
				this.UI=page;
			}
		},
		created() {
			this.loadList();
		}
	}).mount("#main");
	</script>
	</body></html>